@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
    /* overflow-x: hidden; */
}

/* Navbar Area Style Starts */
.navbar-area {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    display: flex;
    gap: 40px;
}
.nav-item {
    list-style: none;
    transition: 0.5s;
}
.nav-link {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s
}
.nav-item:hover {
    transform: scale(1.2);
}
.nav-link:hover {
    color: crimson;
}
/* Navbar Area Style Ends */
/* Banner ARea styles starts */
.whole-banner-area {
    width: 100%;
    height: auto;
    background-color: rgba(255, 144, 14, 0.1);
}
.banner-text-area {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.banner-hd {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
}
.banner-para {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.banner-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 144, 14);;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 18px 23px;
    border-radius: 8px;
}
.banner-img-area {
    padding: 40px 0px 20px 0px;
    width: 80%;
    margin: 0 auto;
}
.banner-img {
    width: 100%;
}
/* Banner area style ends */

/* Feature list styles starts */
.feature-lists-area {
    width: 100%;
    height: auto;
    padding-top: 50px;
}
.feature-list-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: center;
    padding-bottom: 50px;
}
.feature-list-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.feature-l-img {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px dashed gray;
}
.feature-l-hd {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 15px;
}
.quick-text {
    color: rgb(114, 114, 114);
}
.feature-text {
    color: rgb(255, 144, 14);
}
.feature-l-para {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}
/* Feature list style ends */

/* Feature card area starts */
.whole-feature-card-area {
    margin-top: 40px;
    width: 100%;
}
.feature-c-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}
.f-c-hd {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    border-left: 4px solid rgb(255, 144, 14);
    padding-left: 15px;
    margin-bottom: 15px;
}
.f-c-para{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}
.feature-c-img {
    width: 100%;
    height: 93%;
}
.feature-card {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 10px;
}
.f-card-hd {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}
.f-card-para {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.f-c-img-btn {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 30px 25px;
    color: rgb(255, 255, 255);
    border: none;
    position: relative;
    top: -70px;
    left: -30px;
}
.f-c-img-btn > h1 {
    font-size: 36px;
}
.f-c-img-btn > p {
    font-size: 16px;
}
/* Feature card area style ends */

/* Fact area style starts */
.whole-facts-area {
    width: 80%;
    margin: 60px auto;
}
.facts-hd {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.facts-para {
    max-width: 60%;
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.facts-card-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.facts-card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    padding: 40px 20px;
    width: 22%;
    height: auto;
    text-align: center;
}
.facts-card > h1 {
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card > p {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    margin-bottom: 10px;
}
/* Fact area style ends */
/* Responsive style Starts */
@media screen and (max-width: 576px) {
    /* Navbar Area starts*/
    .navbar-area {
        height: auto;
    }
    .navbar {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 15px;
        padding-top: 10px;
    }
    .nav-menu {
        flex-direction: column;
        gap: 8px;
        padding-bottom: 15px;
    }
    /* Navbar Area ends*/

    /* Feature List Area Starts */
    .feature-list-container {
        width: 100%;
        flex-direction: column;
    }
    .feature-list-images-container {
        grid-template-columns: 1fr;
    }
    .feature-list-texts{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    /* Feature List ARea ends */
    
    /* Feature cars styles starts */
    .f-c-hd {
        text-align: center;
    }
    .f-c-para {
        text-align: center;
    }
    .feature-card {
        margin: 0 auto;
    }
    .feature-card > h2 , .feature-card > p {
        text-align: center;
    }
    .feature-c-container {
        width: 100%;
        grid-template-columns: repeat(1, auto);
    }
    .feature-c-img-area {
        width: 90%;
        margin: 0 auto;
    }
    .f-c-img-btn {
        left: 30%;
    }
    /* Feature card area style ends */

    /* Facts cards style starts */
    .whole-facts-area {
        width: 100%;
    }
    .facts-hd, .facts-para {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }
    .facts-card-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .facts-card {
        width: 70%;
    }
    /* facts crad area style ends */
}